# petclinic-db-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: petclinic-db-secret
  namespace: petclinic-ns
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: ${db_username}
  SPRING_DATASOURCE_PASSWORD: ${db_password}

